{% load static %}
<footer class="footer-area two three pt-100">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="footer-item">
            <div class="footer-logo">
              <a class="footer-inva" href="index.html">
                <img src="{% static 'img/logo-three.png' %}" alt="Logo" />
              </a>
              <p>
                The company was founded in 2012 with an objective of offering
                unbiased technical analysis & solutions for the trading
                community, by experienced professionals to create a conducive
                environment.
              </p>
              <ul>
                <li>
                  <a href="#" target="_blank">
                    <i class="bx bxl-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <i class="bx bxl-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <i class="bx bxl-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <i class="bx bxl-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <i class="bx bxl-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="footer-item">
            <div class="footer-link">
              <h3>Important Links</h3>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="about.html">About</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="services.html">Services</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="projects.html">Projects</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="blog.html">Blog</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="faq.html">FAQ</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-6 col-lg-3">
          <div class="footer-item">
            <div class="footer-hours">
              <h3>Open Hours</h3>
              <ul>
                <li>Monday <span>8:00 - 21:00</span></li>
                <li>Tuesday <span>8:00 - 21:00</span></li>
                <li>Wednesday <span>8:00 - 21:00</span></li>
                <li>Thursday <span>8:00 - 21:00</span></li>
                <li>Sunday <span>8:00 - 21:00</span></li>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="col-sm-6 col-lg-3">
          <div class="footer-item">
            <div class="footer-contact">
              <h3>Contact Info</h3>
              <ul>
                <li>
                  <i class="bx bxs-location-plus"></i>
                  <span>113 Inva, White House, New Jercy, USA</span>
                </li>
                <li>
                  <i class="bx bxs-phone-call"></i>
                  <a href="tel:+918085457062">+918085457062</a>
                </li>
                <li>
                  <i class="bx bxs-paper-plane"></i>
                  <a
                    href="mailto:sanjeev.vns14@gmail.com"
                    ><span
                      
                      >sanjeev.vns14@gmail.com</span
                    ></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container">
        <p>
          Copyright @
         
          <script>
            document.write(new Date().getFullYear());
          </script>
          Made By Arvind
        </p>
      </div>
    </div>
    <div class="footer-shape">
      <img src="{% static 'img/footer-bg2.png' %}" alt="Footer" />
    </div>
  </footer>

  <div class="go-top">
    <i class="bx bxs-up-arrow-alt"></i>
    <i class="bx bxs-up-arrow-alt"></i>
  </div>
